# pandasで時系列データの扱い

毎月や毎週などの、時系列データの扱い

## 内容

- 1ヶ月分のデータを作る
- 1年分365日のデータを作る
- 月平均のデータにする
- 1年間分の月曜日始まりのデータを作り、1年分のデータから各週の合計をマッピング

In [1]:
import numpy as np
import pandas as pd

## 1ヶ月分のデータを作る

In [2]:
dates = pd.date_range(start="2017-04-01", end="2017-04-30")

In [3]:
dates

DatetimeIndex(['2017-04-01', '2017-04-02', '2017-04-03', '2017-04-04',
               '2017-04-05', '2017-04-06', '2017-04-07', '2017-04-08',
               '2017-04-09', '2017-04-10', '2017-04-11', '2017-04-12',
               '2017-04-13', '2017-04-14', '2017-04-15', '2017-04-16',
               '2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
               '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24',
               '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28',
               '2017-04-29', '2017-04-30'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randint(1, 31, 30), index=dates, columns=["乱数"])

In [5]:
df

            乱数
2017-04-01  16
2017-04-02  22
2017-04-03  22
2017-04-04  19
2017-04-05  13
2017-04-06  24
2017-04-07  21
2017-04-08  18
2017-04-09   4
2017-04-10  24
2017-04-11  17
2017-04-12  25
2017-04-13  22
2017-04-14   6
2017-04-15  29
2017-04-16  16
2017-04-17  27
2017-04-18   1
2017-04-19  14
2017-04-20  16
2017-04-21  30
2017-04-22  30
2017-04-23   7
2017-04-24  21
2017-04-25   9
2017-04-26  15
2017-04-27  16
2017-04-28  24
2017-04-29  30
2017-04-30  23

## 1年分365日のデータを作る

In [6]:
dates = pd.date_range(start="2017-01-01", periods=365)

In [7]:
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [8]:
df = pd.DataFrame(np.random.randint(1, 31, 365), index=dates, columns=["乱数"])

In [9]:
df

            乱数
2017-01-01   4
2017-01-02  14
2017-01-03  13
2017-01-04  29
2017-01-05  29
2017-01-06   9
2017-01-07  13
2017-01-08  29
2017-01-09   6
2017-01-10  26
2017-01-11  18
2017-01-12  23
2017-01-13  19
2017-01-14   6
2017-01-15   3
2017-01-16   9
2017-01-17  23
2017-01-18   8
2017-01-19   7
2017-01-20   9
2017-01-21   8
2017-01-22  20
2017-01-23  20
2017-01-24  30
2017-01-25  11
2017-01-26   3
2017-01-27  16
2017-01-28  19
2017-01-29  17
2017-01-30  11
...         ..
2017-12-02   9
2017-12-03  28
2017-12-04  25
2017-12-05   3
2017-12-06  14
2017-12-07  18
2017-12-08  23
2017-12-09   6
2017-12-10   7
2017-12-11  18
2017-12-12  22
2017-12-13  16
2017-12-14  19
2017-12-15  23
2017-12-16  15
2017-12-17  26
2017-12-18  30
2017-12-19  15
2017-12-20   9
2017-12-21   6
2017-12-22   3
2017-12-23  30
2017-12-24  22
2017-12-25   9
2017-12-26  10
2017-12-27  22
2017-12-28   5
2017-12-29   7
2017-12-30  29
2017-12-31   9

[365 rows x 1 columns]

## 月平均のデータにする

In [10]:
df.groupby(pd.Grouper(freq='M')).mean()

                   乱数
2017-01-31  14.612903
2017-02-28  15.071429
2017-03-31  14.322581
2017-04-30  14.566667
2017-05-31  17.967742
2017-06-30  13.700000
2017-07-31  14.677419
2017-08-31  16.129032
2017-09-30  16.733333
2017-10-31  15.193548
2017-11-30  16.566667
2017-12-31  16.000000

## 1年間分の月曜日始まりのデータを作り、1年分のデータから各週の合計をマッピング

In [11]:
dates = pd.date_range(start="2017-01-01", end="2017-12-31", freq="W-MON")

In [12]:
dates

DatetimeIndex(['2017-01-02', '2017-01-09', '2017-01-16', '2017-01-23',
               '2017-01-30', '2017-02-06', '2017-02-13', '2017-02-20',
               '2017-02-27', '2017-03-06', '2017-03-13', '2017-03-20',
               '2017-03-27', '2017-04-03', '2017-04-10', '2017-04-17',
               '2017-04-24', '2017-05-01', '2017-05-08', '2017-05-15',
               '2017-05-22', '2017-05-29', '2017-06-05', '2017-06-12',
               '2017-06-19', '2017-06-26', '2017-07-03', '2017-07-10',
               '2017-07-17', '2017-07-24', '2017-07-31', '2017-08-07',
               '2017-08-14', '2017-08-21', '2017-08-28', '2017-09-04',
               '2017-09-11', '2017-09-18', '2017-09-25', '2017-10-02',
               '2017-10-09', '2017-10-16', '2017-10-23', '2017-10-30',
               '2017-11-06', '2017-11-13', '2017-11-20', '2017-11-27',
               '2017-12-04', '2017-12-11', '2017-12-18', '2017-12-25'],
              dtype='datetime64[ns]', freq='W-MON')

In [13]:
df_year = pd.DataFrame(df.groupby(pd.Grouper(freq='W-MON')).sum(), index=dates, columns={'乱数'})

In [14]:
df_year

             乱数
2017-01-02   18
2017-01-09  128
2017-01-16  104
2017-01-23   95
2017-01-30  107
2017-02-06  104
2017-02-13   89
2017-02-20   90
2017-02-27  122
2017-03-06  116
2017-03-13  124
2017-03-20   57
2017-03-27   89
2017-04-03  150
2017-04-10  101
2017-04-17   68
2017-04-24  135
2017-05-01   77
2017-05-08   97
2017-05-15   88
2017-05-22  147
2017-05-29  162
2017-06-05  111
2017-06-12  114
2017-06-19  109
2017-06-26   76
2017-07-03  105
2017-07-10   78
2017-07-17  107
2017-07-24  115
2017-07-31   96
2017-08-07  109
2017-08-14  116
2017-08-21  105
2017-08-28  126
2017-09-04  104
2017-09-11  115
2017-09-18  111
2017-09-25  110
2017-10-02  127
2017-10-09   92
2017-10-16  130
2017-10-23  104
2017-10-30  110
2017-11-06  168
2017-11-13  113
2017-11-20   94
2017-11-27   96
2017-12-04  120
2017-12-11   89
2017-12-18  151
2017-12-25   94

In [15]:
df.head()

            乱数
2017-01-01   4
2017-01-02  14
2017-01-03  13
2017-01-04  29
2017-01-05  29