# pandasで時系列データの扱い

毎月や毎週などの、時系列データの扱い

## 内容

- 1ヶ月分のデータを作る
- 1年分365日のデータを作る
- 月平均のデータにする
- 1年間分の月曜日始まりのデータを作り、1年分のデータから各週の合計をマッピング

In [1]:
import numpy as np
import pandas as pd

## 1ヶ月分のデータを作る

In [2]:
dates = pd.date_range(start="2017-04-01", end="2017-04-30")

In [3]:
dates

DatetimeIndex(['2017-04-01', '2017-04-02', '2017-04-03', '2017-04-04',
               '2017-04-05', '2017-04-06', '2017-04-07', '2017-04-08',
               '2017-04-09', '2017-04-10', '2017-04-11', '2017-04-12',
               '2017-04-13', '2017-04-14', '2017-04-15', '2017-04-16',
               '2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
               '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24',
               '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28',
               '2017-04-29', '2017-04-30'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randint(1, 31, 30), index=dates, columns=["乱数"])

In [5]:
df

            乱数
2017-04-01  26
2017-04-02  24
2017-04-03   7
2017-04-04  10
2017-04-05  29
2017-04-06  23
2017-04-07  23
2017-04-08  30
2017-04-09  19
2017-04-10  18
2017-04-11   3
2017-04-12  26
2017-04-13   2
2017-04-14  13
2017-04-15  26
2017-04-16  21
2017-04-17  26
2017-04-18   3
2017-04-19   4
2017-04-20  30
2017-04-21  20
2017-04-22  30
2017-04-23   2
2017-04-24  25
2017-04-25  11
2017-04-26  30
2017-04-27  23
2017-04-28  25
2017-04-29  12
2017-04-30  21

## 1年分365日のデータを作る

In [6]:
dates = pd.date_range(start="2017-01-01", periods=365)

In [7]:
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [8]:
df = pd.DataFrame(np.random.randint(1, 31, 365), index=dates, columns=["乱数"])

In [9]:
df

            乱数
2017-01-01  17
2017-01-02  25
2017-01-03  29
2017-01-04   3
2017-01-05   9
2017-01-06   7
2017-01-07  13
2017-01-08  24
2017-01-09  17
2017-01-10  28
2017-01-11  30
2017-01-12  11
2017-01-13  14
2017-01-14  22
2017-01-15   1
2017-01-16  14
2017-01-17  21
2017-01-18  21
2017-01-19   3
2017-01-20   2
2017-01-21  18
2017-01-22  19
2017-01-23   6
2017-01-24   1
2017-01-25  22
2017-01-26   3
2017-01-27  23
2017-01-28  16
2017-01-29  30
2017-01-30  16
...         ..
2017-12-02  23
2017-12-03  16
2017-12-04  16
2017-12-05   5
2017-12-06   6
2017-12-07  23
2017-12-08  26
2017-12-09  17
2017-12-10  29
2017-12-11  24
2017-12-12  23
2017-12-13  24
2017-12-14  24
2017-12-15  29
2017-12-16  17
2017-12-17  18
2017-12-18  28
2017-12-19   4
2017-12-20   9
2017-12-21  21
2017-12-22  26
2017-12-23  21
2017-12-24  28
2017-12-25  30
2017-12-26   3
2017-12-27  12
2017-12-28  20
2017-12-29  28
2017-12-30  30
2017-12-31  10

[365 rows x 1 columns]

## 月平均のデータにする

In [10]:
df.groupby(pd.Grouper(freq='M')).mean()

                   乱数
2017-01-31  15.741935
2017-02-28  16.250000
2017-03-31  13.483871
2017-04-30  16.933333
2017-05-31  15.064516
2017-06-30  12.800000
2017-07-31  16.322581
2017-08-31  14.774194
2017-09-30  16.800000
2017-10-31  18.580645
2017-11-30  13.433333
2017-12-31  19.193548

In [11]:
df.loc[:, "乱数"].resample('M').mean()

2017-01-31    15.741935
2017-02-28    16.250000
2017-03-31    13.483871
2017-04-30    16.933333
2017-05-31    15.064516
2017-06-30    12.800000
2017-07-31    16.322581
2017-08-31    14.774194
2017-09-30    16.800000
2017-10-31    18.580645
2017-11-30    13.433333
2017-12-31    19.193548
Freq: M, Name: 乱数, dtype: float64

## 1年間分の月曜日始まりのデータを作り、1年分のデータから各週の合計をマッピング

In [12]:
dates = pd.date_range(start="2017-01-01", end="2017-12-31", freq="W-MON")

In [13]:
dates

DatetimeIndex(['2017-01-02', '2017-01-09', '2017-01-16', '2017-01-23',
               '2017-01-30', '2017-02-06', '2017-02-13', '2017-02-20',
               '2017-02-27', '2017-03-06', '2017-03-13', '2017-03-20',
               '2017-03-27', '2017-04-03', '2017-04-10', '2017-04-17',
               '2017-04-24', '2017-05-01', '2017-05-08', '2017-05-15',
               '2017-05-22', '2017-05-29', '2017-06-05', '2017-06-12',
               '2017-06-19', '2017-06-26', '2017-07-03', '2017-07-10',
               '2017-07-17', '2017-07-24', '2017-07-31', '2017-08-07',
               '2017-08-14', '2017-08-21', '2017-08-28', '2017-09-04',
               '2017-09-11', '2017-09-18', '2017-09-25', '2017-10-02',
               '2017-10-09', '2017-10-16', '2017-10-23', '2017-10-30',
               '2017-11-06', '2017-11-13', '2017-11-20', '2017-11-27',
               '2017-12-04', '2017-12-11', '2017-12-18', '2017-12-25'],
              dtype='datetime64[ns]', freq='W-MON')

In [14]:
df_year = pd.DataFrame(df.groupby(pd.Grouper(freq='W-MON')).sum(), index=dates, columns={'乱数'})

In [15]:
df_year

             乱数
2017-01-02   42
2017-01-09  102
2017-01-16  120
2017-01-23   90
2017-01-30  111
2017-02-06  114
2017-02-13   90
2017-02-20  151
2017-02-27   95
2017-03-06   95
2017-03-13  135
2017-03-20   63
2017-03-27  116
2017-04-03   82
2017-04-10  100
2017-04-17  110
2017-04-24  150
2017-05-01  131
2017-05-08  120
2017-05-15   88
2017-05-22  123
2017-05-29   85
2017-06-05  120
2017-06-12   82
2017-06-19   86
2017-06-26   75
2017-07-03  123
2017-07-10  111
2017-07-17  100
2017-07-24  103
2017-07-31  113
2017-08-07   95
2017-08-14  101
2017-08-21   95
2017-08-28  118
2017-09-04  102
2017-09-11  165
2017-09-18   94
2017-09-25  118
2017-10-02  128
2017-10-09  127
2017-10-16  141
2017-10-23   99
2017-10-30  145
2017-11-06   98
2017-11-13   62
2017-11-20   95
2017-11-27  132
2017-12-04   86
2017-12-11  130
2017-12-18  163
2017-12-25  139

In [16]:
df.head()

            乱数
2017-01-01  17
2017-01-02  25
2017-01-03  29
2017-01-04   3
2017-01-05   9